## This file is subject to the terms and conditions defined in
# file 'LICENSE', which is part of Hpmoon repository.
#
# This work has been funded by:
#
# Spanish 'Ministerio de Economı́a y Competitividad' under grants number
# TIN2012-32039 and TIN2015-67020-P.
# Spanish 'Ministerio de Ciencia, Innovación y Universidades' under grant number
# PGC2018-098813-B-C31.
# European Regional Development Fund (ERDF).
#
# @file Gitignore
# @author Francisco Rodríguez Jiménez
# @date 26/06/2021
# @brief File gitignore
# @copyright Hpknn (c) 2015 EFFICOMP

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Linux ###
*~

### Custom ###
obj/
bin/
lib/


# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,linux,c++

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

